*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sawarabi Gothic', sans-serif;
    text-decoration: none;
    outline: none;
    
    
}
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');



body {
background-color: #FFE230;

}

/* HEADER */

.logo{
    width: 100px;
    padding-top: 10px;
}

.menu{
    width: 100%;
    height: 8vh;
    background-color: #048ABF;
}

.links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link{
    padding-top: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFE230;

}


/* MAIN */

.content-box{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 5%;


}


.home-img{
    width: 700px;
    height: 500px;
    border-radius: 30px;
}



.form {
    width: 500px;
    height:500px;
    background-color:transparent;
    border: none;
    border-radius: 30px;
    padding:40px;
    background-color: #048ABF;
    text-align: center;
    
    
}

input {
    width: 80%;
    padding: 10px 12px ;
    margin-top: 10px;
    border: none;
    font-size: 15px;
}
label{
    color: #fff;
}

.form-button {
    background-color: #0E3D35;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    position: relative;
    top: 20px;
    color: #fff;
    font-weight: 600;
    
}

.form-button:hover{
    background-color: #7FBF50;
    transition: all 0.5s ease-in-out;
}



.title {
    
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
}

p {
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    margin-top: 30px;

}

a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    
  
}

/* Mobile */

@media (max-width: 800px) {

    /* Header */

    .menu{
        width: 100%;
    }

    .logo{
        width: 50px;
        display: flex;
        align-items: center;
        margin-top: 13px;
    }

    .link{
        font-size: 14px;
    }

    /* Main */

    .content-box{
        flex-direction: column-reverse;
        gap: 50px;
        margin-bottom: 50px;
    }

    .form{
        width: 90%;
        margin-top: 10%;
        
    }

    input{
        width: 70%;
    }

    .title{
        font-size: 22px;
    }

    p{
        font-size: 16px;
    }

    a{
        font-size: 15px;
    }

    .home-img{
        width: 90%;
        height: 400px;
        margin-left: 5%;
        margin-bottom: 50px;


    }


}
